<div class='all-events-container'>
  <% if @events.any? %>
    <%= render 'events_section', events: @events.future, title: 'Upcoming Events', heading_level: 1 %>
    <hr>
    <%= render 'events_section', events: @events.past, title: 'Past Events', heading_level: 2 %>
  <% else %>
    <h2>No Events to Show!</h2>
  <% end %>
</div>